


<div class="container">

    <mat-card class="box">

        <div class="semi-matcard">
            <a href="www.google.es">
                <img class="img" src="assets/images/uvls-repo.png">
            </a>
        </div>

        <mat-card-title>
            UVLS project
        </mat-card-title>
        
        <mat-card-content>
          <p></p>
        </mat-card-content>

    </mat-card>
    
    
    
    
    <mat-card class="box">

        <div class="semi-matcard">
            <a href="www.google.es">
                <img class="img" src="assets/images/uvengine-repo.png">
            </a>
        </div>

        <mat-card-title>
            UVengine
        </mat-card-title>
        
        <mat-card-content>
          <p></p>
        </mat-card-content>

    </mat-card>
    
    
    
    
    <mat-card class="box">

        <div class="semi-matcard">
            <a href="www.google.es">
                <img class="img" src="assets/images/jinja-repo.png">
            </a>
        </div>

        <mat-card-title>
            Jina Project
        </mat-card-title>
        
        <mat-card-content>
          <p></p>
        </mat-card-content>

    </mat-card>
    
                
    
</div>