.spaced-card {
    margin: 10px;
}

.form-container {
    display: flex; /* Usar flexbox para alinear en fila */
    align-items: center; /* Alinear verticalmente al centro */

    justify-content: space-between; /* Espacia los elementos equitativamente */
}

.spaced-button {
    margin: 10px;
}

input {
    font-family: 'Roboto'; 
    font-size: 16px;
    border: none;
    outline: none;
    display: inline-block;
    height: 34px;
    vertical-align: middle;
    bottom: 14px;
    right: 9px;
    border-radius: 22px;
    width: 220px;
    box-sizing: border-box;
    padding: 0 18px; 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Añade sombra aquí */
}