<carousel [slideToShow]="1" 
          [slideToScroll]="1" 
          [infinite]="true"
          [slideWidth]="1" 
          [gapBetweenSlides]="1000" 
          [slideWidth]="500" 
          [slideMaxWidth]="1000"
          [autoPlay]="true"
          [autoPlayInterval]="5000"
          [autoPlayAtStart]="true">
    <div class="carousel-slide">
        <mat-card class="mat-card">
            <img src="assets/gifs/choose.gif">
        </mat-card >
    </div>
    <div class="carousel-slide">
        <mat-card class="mat-card">
            <img src="assets/gifs/download-template.gif">
        </mat-card>
    </div>
    <div class="carousel-slide">
        <mat-card class="mat-card">
            <img src="assets/gifs/generate-configuration.gif">
        </mat-card >
    </div>
    <div class="carousel-slide">
        <mat-card class="mat-card">
            <img src="assets/gifs/generate-template.gif">
        </mat-card>
    </div>
</carousel>