


<div class="container">
    
    <mat-card class="box">

        <div class="semi-matcard">
            <a href="www.google.es">
                <img class="img" src="assets/images/project-repo.png">
            </a>
        </div>

        <mat-card-title>
            Project Repository
        </mat-card-title>
        
        <mat-card-content>
          <p></p>
        </mat-card-content>

    </mat-card>
    
    
    <mat-card class="box">

        <div class="semi-matcard">
            <a href="www.google.es">
                <img class="img" src="assets/images/templates-repo.png">
            </a>
        </div>

        <mat-card-title>
            Templates Repository
        </mat-card-title>
        
        <mat-card-content>
          <p></p>
        </mat-card-content>

    </mat-card>
    
</div>