{% if Linux_Version_Tag %}
FROM busybox:{{Linux_Version_Tag}}
{% elif Linux_Version_Digest %}
FROM busybox@{{Linux_Version_Digest}}
{% else %}
# Avoid using latest tag in production
FROM busybox:latest
{% endif %}