# Apache:http WebServer Dockerfile

{% if WebServer_Version_Tag %}
FROM httpd:{{WebServer_Version_Tag}} AS prod
{% elif WebServer_Version_Digest %}
FROM httpd@{{WebServer_Version_Digest}} AS prod
{% else %}
# Avoid using latest tag in production
FROM httpd AS prod 
{% endif %}







{%- if projectName is defined %}
{% set PROJECT_NAME = projectName %}
{% else %}
{% set PROJECT_NAME = "YOUR_PROYECT_NAME_HERE"%}
{% endif %}








{%- if React %}

COPY --from=build /app/build/ /usr/local/apache2/htdocs/
{% elif Angular%}

COPY --from=build /app/dist/{{PROJECT_NAME}}/browser /usr/local/apache2/htdocs/
{% elif Vue%}

COPY --from=build /app/dist/{{PROJECT_NAME}}/browser /usr/local/apache2/htdocs/
{% endif %}

{% if Custom_apache_config_file %}

COPY httpd.conf /usr/local/apache2/conf/httpd.conf
{% endif %}