.content-container {
    padding-top: flex; /* Esto asegura que el contenido no quede debajo del toolbar (ajusta según la altura de tu toolbar) */
    height: calc(100% - 64px); /* Altura que queda después del toolbar */
}

.sidenav-container {
    height: 100%;
}
