{% if DatabaseAdmin_Version_Tag %}
FROM phpmyadmin:{{DatabaseAdmin_Version_Tag}}
{% elif DatabaseAdmin_Version_Digest %}
FROM phpmyadmin@{{DatabaseAdmin_Version_Digest}}
{% else %}
# Avoid using latest tag in production
FROM phpmyadmin:latest
{% endif %}





{%- if Custom_config_file_phpMyAdmin is defined %}

COPY ./config.user.inc.php /etc/phpmyadmin/config.inc.php

{% else %}

{% endif %}







{%- if PMA_ARBITRARY %}
ENV PMA_ARBITRARY=1
{% endif %}
{%- if PMA_HOST %}
ENV PMA_HOST={{PMA_HOST}}
{% endif %}
{%- if PMA_PORT %}
ENV PMA_PORT={{PMA_PORT}}
{% endif %}
{%- if PMA_VERBOSE %}
ENV PMA_VERBOSE={{PMA_VERBOSE}}
{% endif %}


{%- if Port %}

EXPOSE {{Port}}
{%- else %}

EXPOSE 80
{% endif %}