.spaced-card {
  margin: 10px;
  margin-bottom: auto;
  height: 80vh;
}

.spaced {
  margin-top: 20px; 
  margin-left: 20px;
  margin-right: 20px;
  height: 100%;
}

.column-container {
  display: flex;
  flex-direction: column;      /* Organiza los elementos en una columna */
  align-items: center;         /* Centra los elementos horizontalmente */
  justify-content: center;     /* Centra los elementos verticalmente */
  height: 100%;                /* Hace que el contenedor ocupe toda la altura disponible */
  text-align: center;          /* Centra el texto */
  gap: 10px;                   /* Añade espacio entre los elementos */
}

.column-container img {
  max-width: 200px;  /* Ajusta el tamaño máximo de la imagen */
  width: 100%;
  height: auto;
}