/* El contenedor de todas las mat-card */
.container {
    display: flex;
    flex-direction: column;
    min-height: 93vh; /* Esto asegura que el contenedor ocupe toda la altura de la ventana */
}

/* Otras reglas que ya tienes */
.spaced-card {
    margin: 10px;
    padding: 10px;
}

.item-text{    
    margin-left: 20px;
}

.icon{
    margin-top: 6px;
}

.footer {
    margin-top: auto; 
    text-align: center;
    padding: 10px;
}

mat-nav-list {
    padding: 0;
    margin: 0;
    max-height: 60vh;
    overflow-y: auto
}