<mat-card class="spaced-card">
    <mat-form-field class="example-full-width" appearance="outline">
      <mat-label>Search</mat-label>
      <input class="searchbar" matInput [(ngModel)]="searchText" placeholder="Search configurations files">
    </mat-form-field>
  
    <mat-nav-list>
      <a mat-list-item *ngFor="let item of filteredItems()" [matTooltip]="item.matTooltip" [routerLink]="item.routerLink" (click)="loquesea()">
        <mat-icon class="icon" [svgIcon]="item.icon"></mat-icon><span class="item-text">{{item.name}}</span>
      </a>
    </mat-nav-list>
</mat-card>

