<div class="container">
  <mat-card class="spaced-card">
    <mat-form-field class="example-full-width" appearance="outline">
      <mat-label>Search</mat-label>
      <input class="searchbar" matInput [(ngModel)]="searchText" placeholder="Search configurations files">
    </mat-form-field>

    <mat-nav-list>
      <a mat-list-item *ngFor="let item of filteredItems()" [routerLink]="'/Configuration'" [queryParams]='{"template":item.name}' (click)="closeSidenav()">
        <mat-icon class="icon" [svgIcon]="iconCalculator(item.name)"></mat-icon>
        <span class="item-text">{{item.name}}</span>
      </a>
    </mat-nav-list>
  </mat-card>






  <mat-card class="spaced-card">
    <!-- Refresh Button -->
    <div class="refresh-container">
      <button mat-button (click)="refresh()">
        <mat-icon>refresh</mat-icon> Reload
      </button>
      @if (loading_templates) {
        <mat-spinner diameter="15"></mat-spinner> <!-- Adjust the diameter as needed -->
      }
      
    </div>

  </mat-card>







  <mat-card class="spaced-card footer">
    Check available templates on 
    <a href="https://github.com/M4rdom/Templates" >
      <button mat-button>
        Github
        
        <mat-icon [svgIcon]="'github-black'"></mat-icon>
      </button>
    </a>
  </mat-card>
</div>