<div class="toolbar-container">
  <mat-toolbar>
    <button mat-icon-button class="example-icon" 
            aria-label="Example icon-button with menu icon" 
            matTooltip="This is a tooltip!"
            (click)="toggleSidenav()" 
            routerLink="/Configuration">
            
            <mat-icon>menu</mat-icon>
    </button>


    <!-- Icono predeterminado -->
    <span>Automatic generation of configuration files</span>
    
    <div class="header-container">
      
      <div class="button-group"> 
        <mat-icon svgIcon="github-black">github-black</mat-icon>
        <button mat-button matTooltip="This is a tooltip!" routerLink="/contact">Contact</button>
        <button mat-button matTooltip="This is a tooltip!" routerLink="/about">About</button>
        <button mat-button matTooltip="This is a tooltip!" routerLink="/help">Help</button>
      </div>
    </div>

  </mat-toolbar>
</div>