<div class="toolbar-container">
  <mat-toolbar>
    
    <!-- Icono predeterminado -->
    <span>Automatic generation of configuration files</span>
    

    <div class="header-container">
      
      <div class="button-group"> 
        <a href="https://github.com/M4rdom/Frontend" target="_blank">
          <button mat-button matTooltip="See Source Code">
            <mat-icon class="icon" svgIcon="github-black">github-black</mat-icon>Github
          </button>
        </a>
        <button mat-button matTooltip="Start a new Configuration" routerLink="/Configuration">Configuration</button>
        <button mat-button matTooltip="This is a tooltip!" routerLink="/contact">Contact</button>
        <button mat-button matTooltip="This is a tooltip!" routerLink="/about">About</button>
        <button mat-button matTooltip="This is a tooltip!" routerLink="/help">Help</button>
      </div>
    </div>

  </mat-toolbar>
</div>