<div class="toolbar-container">
  <mat-toolbar class="custom-mat-toolbar">

    <!-- Grupo de la izquierda -->
    <div class="toolbar-left">
      <a>
        <button mat-button matTooltip="Start a new Configuration" (click)="click_New_Configuration()">
          New Configuration
        </button>
      </a>
      <div class="suggested-text-container">
        <p class="suggested-text">Suggested:</p>
      </div>
      <a routerLink="/Configuration" [queryParams]='{"template":"dockerfile"} ' (click)="click_shortcut()">
        <button mat-button>
          <mat-icon class="icon" svgIcon="docker"></mat-icon>dockerfile
        </button>
      </a>
      <a routerLink="/Configuration" [queryParams]='{"template":".dockerignore"}' (click)="click_shortcut()">
        <button mat-button>
          <mat-icon class="icon" svgIcon="docker"></mat-icon>.dockerignore
        </button>
      </a>
    </div>

    <!-- Grupo del centro -->
    <div class="toolbar-center">
      <a routerLink="/">
        <button mat-button>SPL: Automatic generation of configuration files</button>
      </a>
    </div>

    <!-- Grupo de la derecha -->
    <div class="toolbar-right">
      <a href="https://github.com/M4rdom/Frontend" target="_blank">
        <button mat-button matTooltip="See Source Code">
          <mat-icon class="icon" svgIcon="github-black"></mat-icon>Github
        </button>
      </a>
      <a href="https://github.com/Universal-Variability-Language/uvl-lsp" target="_blank">
        <button mat-button matTooltip="UVLS">
          UVLS
          <mat-icon class="icon" svgIcon="external-link"></mat-icon>
        </button>
      </a>
      <button mat-button matTooltip="This is a tooltip!" routerLink="/about">About</button>
      <button mat-button matTooltip="This is a tooltip!" routerLink="/help">Help</button>
    </div>

  </mat-toolbar>
</div>
