.toolbar-container {
    position: fixed;
    width: 100vw;
    height: 10vh;
}

.header-container {
    display: flex;
    justify-content: flex-end; 
    width: 100%; 
}
  
.button-group {
  display: flex;
  gap: 10px; 
}

.dark-theme .toolbar-container {
  background-color: #333; 
}
