.toolbar-container {
  display: flex;
}

.custom-mat-toolbar {
  background-color: #f5f5f5;
  display: flex;
  justify-content: space-between; /* Distribuye los grupos: izquierda, centro y derecha */
  align-items: center;
  width: 100%;
}

.toolbar-left,
.toolbar-center,
.toolbar-right {
  display: flex;
  align-items: center; /* Alinea los botones verticalmente */
  gap: 10px; /* Espacio entre botones */
}

.toolbar-left {
  align-items: center;
}

.suggested-text-container {
  display: flex;
  align-items: center;
  height: 100%;
}

.suggested-text {
  font-size: 14px;
  margin: 0;
}

.toolbar-center {
  flex-grow: 1; /* Permite que el grupo central ocupe el espacio disponible */
  justify-content: center; /* Asegura que el grupo central esté centrado */
  display: flex; /* Asegura que el contenido sea flexible */
  margin-right: 180px;
}

.center-button {
  margin: auto; /* Asegura que el botón se centre en su contenedor */
}

.toolbar-right {
  justify-content: flex-end; /* Alinea los botones del grupo derecho hacia la derecha */
}

.icon {
  transform: scale(1.3);
  margin-bottom: 5px;
}

