<div class="custom-div">
    <!--SPL Configuration Files Tool-->
    <div class="content">
        <p>UVengine Resolver</p>
        Automatic generation of configuration files
        <p></p>
        <p></p>
        <button mat-flat-button [routerLink]="'/Configuration'">
            Get Started 
        </button>
    </div>

</div>


<div>
    How to create a configuration file 
    <app-carousel></app-carousel>

    <mat-grid-list cols="3" >
        <mat-grid-tile>1</mat-grid-tile>
        <mat-grid-tile>2</mat-grid-tile>
        <mat-grid-tile>3</mat-grid-tile>
      </mat-grid-list>

    <mat-divider></mat-divider>
    Push a new Template to the Repository
</div>


<app-footer></app-footer>


