<div class="custom-div">
    <!--SPL Configuration Files Tool-->
    <div class="content">
        
        <h4>SPL: Automatic generation of configuration files</h4>
        <p></p>
        <p>Generate Custom Files Using UVLS extension and Templates</p>
        <p></p>
        <div>
            <button mat-flat-button [routerLink]="'/Configuration'">
                Get Started 
            </button>
            <button style="margin-left: 20px" mat-raised-button [routerLink]="'/Configuration'">
                
                <div style="display: flex; flex-direction: row;">
                    Give a Star
                    <mat-icon style="scale:1.2; margin-left: 15px;" svgIcon="github-star"></mat-icon>
                </div>
            </button>
        </div>

    </div>

</div>















  
<div class="content">
    <div class="guide-mat-card">
        <p></p>
        
        <mat-card-title><h6>How to create a file Product Step by Step </h6></mat-card-title>
        <app-carousel></app-carousel>
    </div>
</div>


<div style="width: 60vw; display: flex; justify-content: center; align-items: center; margin: 0 auto; margin-top: 40px">
    <mat-divider style="width: 100%;"></mat-divider>
</div>



<div class="features">
    <div class="feature">
      <h3>Create a Configuration with uvls extension</h3>
      <p>Select an existing template or push a new one to the GitHub repository.</p>
      <p>Create a new configuration using the UVLS extension by downloading a feature model file. See <a href="https://marketplace.visualstudio.com/items?itemName=caradhras.uvls-code">UVLS</a>.</p>
    </div>
    
    <div class="feature">
      <h3>Generate</h3>
      <p>Paste the configuration JSON and wait until the product is generated.</p>
      <p>Feel free to modify and add the final touches to the product to suit your needs. (It might be mandatory depending on the template.)</p>
    </div>
    
    <div class="feature">
      <h3>Download Product</h3>
      <p>Download the final product and customize the name and extension if desired </p>
      <p>or just copy the content on the product and go </p> 
    </div>
</div>



<div style="width: 60vw; display: flex; justify-content: center; align-items: center; margin: 0 auto; margin-top: 40px">
    <mat-divider style="width: 100%;"></mat-divider>
</div>




<div class="features">
    <div class="feature">
      <h3>Source Code</h3>
        <p>This Website is used to generate product examples using Jinja Templates, a for of UVengine and UVLS extension. </p>
        <p>Optionally providing Mapping Models</p>
    </div>
    
    <div class="feature">
      <h3>Jinja Templates</h3>
        <p>Currently it relies on GitHub Public Repository to store the templates and the generated products.</p>
        <p>The repository is public and can be accessed by anyone.</p>
    </div>
    
    
</div>







<div>
    <app-main-links></app-main-links>
</div>


<div style="width: 60vw; display: flex; justify-content: center; align-items: center; margin: 0 auto; margin-top: 40px">
    <mat-divider style="width: 100%;"></mat-divider>
</div>


<div>
    <app-features-link></app-features-link>
</div>


<div class="features">
    <div class="feature" style="margin-left: 20px; margin-right: 20px;">
      <p>Recomended vscode Extension for creating a configuration file</p>
     
    </div>
    
    <div class="feature" style="margin-left: 20px;margin-right: 20px;">
      <p>Python Pakage used to create a final product providing a template and an optional mapping model</p>
    </div>
    
    <div class="feature" style="margin-left: 20px;margin-right: 20px;">
      <p>Python templating engine used for definig the templates</p>
    </div>
</div>


<div style="width: 60vw; display: flex; justify-content: center; align-items: center; margin: 0 auto; margin-top: 40px">
    <mat-divider style="width: 100%;"></mat-divider>
</div>








<div>
    <app-footer></app-footer>
</div>
