{%- if Compiled_Version_Tag is defined %}
FROM mongo:{{Compiled_Version_Tag}}
{%- elif Compiled_Version_Digest is defined %}
FROM mongo@{{Compiled_Version_Digest}}
{%- else %}
FROM mongo:latest
{%- endif %}



{%- if MONGO_INITDB_ROOT_USERNAME is defined %}

# Set the password for the default postgres user DO NOT USE IN PRODUCTION
ENV MONGO_INITDB_ROOT_USERNAME=postgres    
{%- endif %}
{%- if MONGO_INITDB_ROOT_PASSWORD is defined %}

# Set the password for the default postgres user DO NOT USE IN PRODUCTION
ENV MONGO_INITDB_ROOT_PASSWORD=postgres
{% endif %}